:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --modal-bg-victory: blue;
    --modal-border-victory: green;
    --modal-bg-lose: blue;
    --modal-border-lose: red;
    --modal-bg-seimbang: blue;
    --modal-border-seimbang: gray;
}

body {
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

body.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --modal-bg-victory: #001d3d;
    --modal-bg-lose: #001d3d;
    --modal-bg-seimbang: #001d3d;
  }

.modal-content-victory {
    background-color: var(--modal-bg-victory);
    border: 8px solid var(--modal-border-victory);
  }

.modal-content-lose {
    background-color: var(--modal-bg-lose);
    border: 8px solid var(--modal-border-lose);
  }

.modal-content-seimbang {
    background-color: var(--modal-bg-seimbang);
    border: 8px solid var(--modal-border-seimbang);
  }

.minecraft-item {
    transition: transform 0.2s ease;
  }

  .minecraft-item:hover{
    transform: scale(1.25);
  }

  .reverse-item {
    border-radius: 50%;
    transition: transform 0.2s ease;
  }

  .reverse-item:hover {
    transform: scale(1.25);
  }

  .only-shake {
    animation: shake 3s infinite;
  }

  .reverse-shake{
    animation: shike 3s infinite;

  }

  @keyframes shake {
    0% { transform: translate(0px,0px) ; }
    50% { transform: translate(0px,8px) ; }
    100% { transform: translate(0px,0px) ; }
  }

  @keyframes shike {
    0% { transform: translate(0px,8px) ; }
    50% { transform: translate(0px,0px) ; }
    100% { transform: translate(0px,8px) ; }
  }

  @keyframes modal {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }

  .atas-and-hide {
    animation: move-right 1s forwards;
  }

  .bawah-and-hide {
    animation: move-left 1s forwards;
  }

  .modal {
    animation: modal 0.7s forwards;
  }

  @keyframes move-right {
    0% { transform: translateY(1000%); }
    100% { transform: translateY(0%); }
  }

  @keyframes move-left {
    0% { transform: translateY(-1000%); }
    100% { transform: translateY(0%); }
  }

  @media screen and (max-width: 600px) {
    .minecraft-item {
      width: 100px;
    }

    .minecraft-item:hover {
        transform: scale(1.25);
    }

    .reverse-item {
      width: 100px;
    }

    .reverse-item:hover {
      transform: scale(1.25);
    }
  }
