body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: rgb(0, 0, 222);
  display: flex;
  color: white;
  padding: 0px 12px;
  size: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
}

.navbar h1 {
  font-family: sans-serif;
}

.navbar ul li {
  display: inline-block;
  font-size: 20px;
  font-family: sans-serif;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
}
.gambar {
  background-image: url("Kumpulan Wallpaper Android Putih Keren.jfif");
  margin-top: 100px;
  padding-top: 100px;
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -20px;
}

.contener {
  width: 60%;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 300px;
}

.about {
  background-color: rgb(0, 0, 222);
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: -22px;
  padding: 40px;
}

h5 {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.kelompok {
  list-style: none;
  display: grid;
  margin: 100px auto;
  padding: 0;
  width: 70%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.kelompok img {
  display: block;
  width: 100%;
  border: 5px solid #ddd;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.kontak-me {
  background-color: rgb(0, 0, 222);
  color: white;
  padding-top: 30px;
  margin-top: -15px;
  padding-bottom: 50px;
  height: 400px;
}

.kontak-me h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
  font-family: sans-serif;
}

.isi {
  font-family: sans-serif;
  margin: 10px 0px;
  padding-left: 33%;
  padding-right: 26%;
}

.box {
  width: 80%;
  height: 100px;
}
.panjang {
  width: 80%;
}

.tombol {
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.footer h3 {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  right: 0;
  font-size: 14px;
  margin-top: -12px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: -10px;
}

@media (max-width: 900px) {
  .navbar ul li {
    font-size: 18px;
  }

  .contener {
    font-size: 11px;
  }

  .about {
    font-size: 15px;
  }

  .kelompok {
    margin-top: 20px;
  }

  .isi {
    font-family: sans-serif;
    margin: 10px 0px;
    padding-left: 15%;
    padding-right: 0%;
  }

  .footer {
    font-size: 10px;
  }
}
